<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Portfolio</title>
  <link rel="stylesheet" href="p.css">
</head>
<body>
  <header>
    <div class="container">
      <h1>My portfolio</h1>
      <nav>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="works.html">My Works</a></li>
          <li><a href="me.html">About me</a></li>
          <li><a href="pcontacts.html">Contacts</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main>
    <div class="container">
      <!-- Qui puoi inserire il contenuto principale del tuo sito web portfolio -->
      <section>
        <h2 class="title">Titolo del progetto</h2>

        <div class="img-cont">
        <img width="600px" height="450px" id="ip1" src="immagine-progetto.jpg" alt="Immagine del progetto">
        </div>
      
        <p class="content">Descrizione del progetto in dettaglio: Obiettivo del progetto, sfide affrontate e le soluzioni implementate. Evidenziare le tecnologie utilizzate, ruolo nel progetto e risultati ottenuti.</p>
      
        <ul>
          <li class="name"><strong>Client:</strong> Nome del cliente</li>
          <li class="ptechno"><strong>Used Technologies:</strong> HTML, CSS, JavaScript</li>
        </ul>
      
        <h3 class="pname">Project's images</h3>
      
        <div class="gallery">
          <img id="i1" src="immagine1.jpg" alt="Descrizione dell'immagine 1">
          <img id="i2" src="immagine2.jpg" alt="Descrizione dell'immagine 2">
          <img id="i3" src="immagine3.jpg" alt="Descrizione dell'immagine 3">
        </div>
      
        <p class="description">Personalizzazione in base alle specifiche del tuo progetto, inclusa la descrizione, le immagini, i dettagli del cliente, le tecnologie utilizzate e i link pertinenti.</p>
      </section>
    </div>
  </main>

  <footer>
    <div class="container">
      <p>&copy; 2023 My Portfolio. All rights reserved.</p>
    </div>
  </footer>
</body>
</html>