<!DOCTYPE html>
<html>
<head>
  <title>Articoli del Blog</title>
  <link rel="stylesheet" type="text/css" href="b.css">
</head>
<body>
  <header>
    <h1>Main Articles</h1>
    <!-- Navbar -->
    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="articles.html">Articles</a></li>
        <li><a href="contacts.html">Contatti</a></li>
      </ul>
    </nav>
  </header>
  
  <main>
    <!-- Contenuto principale -->
    <h1 id="section-title">Blog's Articles</h1>
    <div class="container" id ="article-cont"></div>
    
    <article id="article1">
      <h2 class="title">Titolo articolo 1</h2>
      <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu sagittis ex.</p>
      <a class="button">Leggi di più</a>
    </article>
    
    <article id="article2">
      <h2 class="title">Titolo articolo 2</h2>
      <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu sagittis ex.</p>
      <a class="button">Leggi di più</a>
    </article>
    
    <article id="article3">
      <h2 class="title">Titolo articolo 3</h2>
      <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu sagittis ex.</p>
      <a class="button">Leggi di più</a>
    </article>
    
    <!-- Aggiungi più articoli come necessario -->
    
  </main>
  
  <footer>
    <!-- Footer -->
    <p>© 2023 Il mio blog. Tutti i diritti riservati.</p>
  </footer>
</body>
</html>