<!DOCTYPE html>
<html>
<head>
    <title>Pagina Contatti</title>
    <link rel="stylesheet" type="text/css" href="b.css">
</head>
<body>
  <header>
    <h1>Contacts</h1>
    <!-- Navbar -->
    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="articles.html">Articles</a></li>
        <li><a href="contacts.html">Contatti</a></li>
      </ul>
    </nav>
  </header>
  
  <main>
    <!-- Contenuto della pagina Contatti -->
    <p>If you have any questions or inquiries, please feel free to contact us using the information below:</p>
    <ul>
      <li class="contact-email">Email: info@example.com</li>
      <li class="contact-phone">Telefono: 123-456-7890</li>
      <li class="contact-address">Indirizzo: Via degli Esempi, 1234, Città</li>
    </ul>
  </main>
  
  <footer>
    <!-- Footer -->
    <p> 2023 My Blog. All rights reserved.</p>
  </footer>
</body>
</html>