<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My E-commerce</title>
  <link rel="stylesheet" href="e.css">
  <link rel="stylesheet" href="./slick/slick.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Comme:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <div class="container">
      <h1 class="shop-name">My Shop online</h1>
      <nav>
        <ul>
          <li><a href="./index.html">Home</a></li>
          <li><a href="./categories.html">Product</a></li>
          <li><a href="./contact.html">Contact</a></li>
          <li><a href="./cart.html">Cart <img src = cart.png width="25px" height="23px" style="margin-bottom: -5px;margin-left: 2px;"></a></li>
          <li>
            <form id="search-form" action="#" method="GET">
              <input type="text" id="search-input" placeholder="Search product" />
              <button type="submit">Search</button>
            </form>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <main>
    <h1 id="section-title" style="text-align: center;">Categories:</h1>
    <div class="container" id ="cat-cont">
        <div class="category">
          <div id="cat-img"><h2>Category name</h2></div>
          <ul id="sub-categories">
            <li><a href="#">Nome sotto-categoria</a></li>
            <li><a href="#">Nome sotto-categoria</a></li>
            <li><a href="#">Nome sotto-categoria</a></li>
            <li><a href="#">Nome sotto-categoria</a></li>
          </ul>
        </div>

        <div class="category">
            <div id="cat-img"><h2>Category name</h2></div>
            <ul id="sub-categories">
              <li><a href="#">Nome sotto-categoria</a></li>
              <li><a href="#">Nome sotto-categoria</a></li>
              <li><a href="#">Nome sotto-categoria</a></li>
            </ul>
          </div>

          <div class="category">
            <div id="cat-img"><h2>Category name</h2></div>
            <ul id="sub-categories">
              <li><a href="#">Nome sotto-categoria</a></li>
              <li><a href="#">Nome sotto-categoria</a></li>
              <li><a href="#">Nome sotto-categoria</a></li>
              <li><a href="#">Nome sotto-categoria</a></li>
              <li><a href="#">Nome sotto-categoria</a></li>
            </ul>
          </div>

          <div class="category">
            <div id="cat-img"><h2>Category name</h2></div>
            <ul id="sub-categories">
              <li><a href="#">Nome sotto-categoria</a></li>
              <li><a href="#">Nome sotto-categoria</a></li>
              <li><a href="#">Nome sotto-categoria</a></li>
              <li><a href="#">Nome sotto-categoria</a></li>
            </ul>
          </div>
  
        
      
      <!-- Qui puoi inserire il contenuto principale del tuo sito web di e-commerce -->
      
    </div>
  </main>

  <footer>
    <div class="container">
      <p>&copy; 2023 My E-Commerce. All rights reserved.</p>
    </div>
  </footer>

</body>

</html>